version: '2'
services:
  webserver:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
    - "80:80"
    volumes:
    - ./:/var/www/html
    environment:
      XDEBUG_CONFIG: remote_host=192.168.1.41